* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}
section {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 3rem;
  height: 100px;
}
.container {
  display: grid;
  gap: 10px;
  border: 1px solid gray;
  padding: 1rem;
  width: 100%;
}

.selectbox {
  display: flex;
  gap: 10px;
  border: 1px solid gray;
  padding: 1rem;
  width: 100%;
  align-items: baseline;
}
select {
  width: 100%;
}
button {
  width: 100%;
}

.result {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  border: 1px solid gray;
  padding: 1rem;
  width: 100%;
}
table {
  width: 100%;
  text-align: center;
}
